<div id="con-cuenta" class="centrar"><!--si tienes iniciada sesion sale este div-->
    <h1 id="nombrado">this is your profile</h1>
    <div id="zona-perfil">
        
        <div id="zona-datos-perfil">
            <div id="perfil-dato">
                <h2>Name:</h2>
                <h2>Internal ID:</h2>
                <h2>Password:</h2>
                <h2>Current image URL</h2>
                <h2>Dark mode</h2>
            </div>
            <div id="perfil-valor">
                <h2 id="sitio-nombre">nombre</h2>
                <h2 id="sitio-id">nombre</h2>
                <h2 id="sitio-contrasegna"><a href="#">Edit...</a></h2>
                <h2 id="url-imagen-ir"><a href="#">a</a></h2>
                <h2><input type="checkbox" id="cambiar-oscuro">Switch</h2>
            </div>
        </div>
        <h2>Description:</h2>
        <br>
        
    </div>
<p id="sitio-descripcion">aaa</p>
</div>
<div id="caja-start" class="centrar">
    <div id="sin-cuenta"><!--si no tienes iniciada sesion sale este div-->
        <h2>Stop right there!</h2>
        <p>Papers, please! First you will need an <b>account</b></p>
        <p>It's super easy to create one, you just need a <b>name</b> and a <b>password</b></p>
        <br>
        <a href="/signin">Click here to CREATE a new Anarcat account</a>
        <br><br><br>
        <a href="/login">Click here to LOGIN with an Anarcat account</a>
        <br> <br> <br>
        <img src="https://imgur.com/eDb6sAS.png" alt="img">
    </div>
</div>
<br><br><br>

<script>
    document.addEventListener("DOMContentLoaded", async () => {
        document.getElementById("btn-account").classList.add("barra-item-activado");
        document.getElementById("logo-arriba").remove();
        document.querySelector("title").innerHTML = "Anarchat - Account";

        if(localStorage.getItem("user") != undefined){
            document.getElementById("sin-cuenta").remove();

            //PONER DATOS
            const pet = await fetch("/b/user/" + localStorage.getItem("user"));
            const res = await pet.json();

            document.getElementById("nombrado").innerHTML = "Hello " + res.nombre + ", this is your profile:";
        } else {
            document.getElementById("con-cuenta").remove();
        }
    });

    
</script>