    </main>
<footer id="footer">
    <p>Anarchat is a Yester/RackGames product and can be used in any way, for more information visit the <a href="https://anarchat.vercel.app/about">about section</a></p>
</footer>

<script>
    //tema oscuro o claro
    if(localStorage.getItem("dark") == "false" || localStorage.getItem("dark") == undefined){
        console.log("MODO CLARO");
    } else{
        console.log("MODO OSCURO");
    }
    if(window.location.pathname != "/room" && !window.location.pathname.startsWith("/goRoom") && window.location.pathname != "/roomEdit"){
        localStorage.setItem("room", "no");
    }
</script>
</body>
</html>