    </main>
<footer id="footer">
    <p id="info-footer">Anarchat is a Yester/RackGames product and can be used in any way, for more information visit the <a href="/about">about section</a></p>
</footer>

<script>
    //tema oscuro o claro
    let r = document.querySelector(":root");
    if(localStorage.getItem("dark") == "false" || localStorage.getItem("dark") == undefined){
        console.log("MODO CLARO");
        r.style.setProperty("--colorBarraNo", "#425c6d");
        r.style.setProperty("--colorBarraSi", "#7ea2b9");
        r.style.setProperty("--colorLetraBarraNo", "white");
        r.style.setProperty("--colorLetraBarraSi", "black");
        r.style.setProperty("--colorBarra", "#6096ba");
        r.style.setProperty("--colorBarraSeleccionado", "#2fcfcf");
        r.style.setProperty("--colorFondoAbajo", "#141414");
        r.style.setProperty("--colorLetraAbajo", "white");
        r.style.setProperty("--colorFondo", "white");
        r.style.setProperty("--colorFondo2", "#e2efff");
        r.style.setProperty("--colorLetra1", "black");
        r.style.setProperty("--colorLetra2", "#181818");
        r.style.setProperty("--colorLetra3", "white");
        r.style.setProperty("--colorBorde", "black");
        r.style.setProperty("--colorBoton", "#3e4142");
        r.style.setProperty("--colorError", "red");
        r.style.setProperty("--colorErrorLigero", "#5c0000");
        r.style.setProperty("--colorCargando", "rgba(0, 0, 0, 0.2)");
        r.style.setProperty("--colorLink", "#00a3ee");
    } else{
        console.log("MODO OSCURO");//PONER VARIABLES COMPROBAR CSS
        r.style.setProperty("--colorBarraNo", "#6f98b3");
        r.style.setProperty("--colorBarraSi", "#36434b");
        r.style.setProperty("--colorLetraBarraNo", "white");
        r.style.setProperty("--colorLetraBarraSi", "white");
        r.style.setProperty("--colorBarra", "#45555f");
        r.style.setProperty("--colorBarraSeleccionado", "#4deeee");
        r.style.setProperty("--colorFondoAbajo", "#141414");
        r.style.setProperty("--colorLetraAbajo", "white");
        r.style.setProperty("--colorFondo", "#1b1b1b");
        r.style.setProperty("--colorFondo2", "#3d3d3d");
        r.style.setProperty("--colorLetra1", "white");
        r.style.setProperty("--colorLetra2", "#181818");
        r.style.setProperty("--colorLetra3", "white");
        r.style.setProperty("--colorBorde", "rgba(206, 206, 206, 0.74)");
        r.style.setProperty("--colorBoton", "#3e4142");
        r.style.setProperty("--colorError", "#6d0000");
        r.style.setProperty("--colorErrorLigero", "#5c0000");
        r.style.setProperty("--colorCargando", "rgba(0, 0, 0, 0.6)");
        r.style.setProperty("--colorLink", "#60cdff");
        //try{
        //    document.getElementById("logo-principal").remove();
        //} catch(err) {
        //    console.log(err);
        //}
    }
    if(window.location.pathname != "/room" && !window.location.pathname.startsWith("/goRoom") && window.location.pathname != "/roomEdit" && window.location.pathname != "/roomDel" && window.location.pathname != "/roomExit" && window.location.pathname != "/roomAll"){
        localStorage.setItem("room", "no");
    }
    if(localStorage.getItem("reload-time") === NaN || localStorage.getItem("reload-time") < 500 || localStorage.getItem("reload-time") > 1000){
        localStorage.setItem("reload-time", 2000);
    }
    if(localStorage.getItem("max-public") === NaN || localStorage.getItem("max-public") < 1){
        localStorage.setItem("max-public", 100);
    }
    if(localStorage.getItem("chunk-size") === NaN || localStorage.getItem("chunk-size") < 1 || localStorage.getItem("chunk-size") > 32){
        localStorage.setItem("chunk-size", 16);
    }
    if(localStorage.getItem("palanca") == undefined){
        localStorage.setItem("palanca", "false");
    }
    if(window.location.pathname == "/about"){
        document.getElementById("info-footer").innerHTML = "Anarchat is a Yester/RackGames product and can be used in any way. You are reading the about section";
    }
</script>
</body>
</html>