<div id="cargando" class="noimagen hidden">
    <br><br><br><br>
    <img src="https://imgur.com/Z9lyXBY.gif" alt="loading...">
</div>
<br>
<div id="con-cuenta" class="borde centrar hidden">
    <div class="caja-error hidden borde" id="caja-error">
        <p>The boxes don't match or the password isn't between 8 and 32 characters length. Or maybe that is your old password</p>
    </div>
    <h1>You are going to update your password</h1>
    <p>You just have to type your new password twice</p>
    <p id="aviso-cambiar-contrasegna">It will apply for the user: <b>X</b></p>
    <br>
    <input type="password" placeholder="Your new password" value="" id="dcontrasegna1">
    <br><br>
    <input type="password" placeholder="Your new password" value="" id="dcontrasegna2">
    <br>
    <p><input type="checkbox" id="check-contrasegna">Visible</p>
    <br>
    <input type="button" id="boton-cambiar" value="Change password">
    <br><br><br>
    <img src="https://imgur.com/Rap9HGN.png" alt="img">
</div>

<script>
    document.getElementById("btn-account").classList.add("barra-item-activado");
    document.getElementById("logo-arriba").remove();
    document.querySelector("title").innerHTML = "Anarchat - Edit password";
    document.addEventListener("DOMContentLoaded", async () => {
        if(localStorage.getItem("user") != undefined && localStorage.getItem("user") != "no"){
            document.getElementById("con-cuenta").classList.remove("hidden");
    
            document.getElementById("aviso-cambiar-contrasegna").innerHTML = "It will apply for the user: <b>" + localStorage.getItem("user") + "</b>";
            const $checkVisible = document.getElementById("check-contrasegna");
            const $contrasegna1 = document.getElementById("dcontrasegna1");
            const $contrasegna2 = document.getElementById("dcontrasegna2");
            $checkVisible.addEventListener("change", () => {//contrasegnas visibles
                if($checkVisible.checked){
                    $contrasegna1.type="text";
                    $contrasegna2.type="text";
                } else {
                    $contrasegna1.type="password";
                    $contrasegna2.type="password";
                }
            });
            const res = await fetch("/b/userp/" + localStorage.getItem("user"));
            const req = await res.json();
            document.getElementById("boton-cambiar").addEventListener("click", async () => {//dar al boton
                document.getElementById("cargando").classList.remove("hidden");
                if($contrasegna1.value.length > 7 && $contrasegna1.value == $contrasegna2.value && $contrasegna1.value != req.contrasegna){//cambiar
                    const bodyp = {viejaContrasegna: req.contrasegna, nuevaContrasegna: $contrasegna1.value}
                    await fetch("/b/userp/" + localStorage.getItem("user"), {
                        method: "PUT",
                        headers: {
                            "Content-type": "application/json; charset=utf-8"
                        },
                        body: JSON.stringify(bodyp)
                    });
                    window.location.href = "/account";
                } else {
                    document.getElementById("caja-error").classList.remove("hidden");
                }
                document.getElementById("cargando").classList.add("hidden");
            });
        } else {
            window.location.href = "/err404";
        }
    });
</script>