<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anarchat - Start</title>
    <link rel="icon" href="https://imgur.com/vfejwYW.png">
    <link rel="stylesheet" href="public/global0.css">
</head>
<body>
    <div id="logo-arriba">
        <img id="logo-principal" src="https://imgur.com/u9tdUO5.png" alt="Anarchat" href="about:blank">
    </div>
    <br>
    <div id="barra">
        <a class="barra-item barra-item-activado" href="about:blank">
            Start
        </a>
        <a class="barra-item" href="about:blank">
            Rooms
        </a>
        <a class="barra-item" href="about:blank">
            Account
        </a>
        <a class="barra-item" href="about:blank">
            About
        </a>
    </div>
    <main>





        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </main>
    <div id="footer">
        <p>Anarchat is a Yester/RackGames product and can be used in any way, for more information visit the <a href="about:blank">about section</a></p>
    </div>
</body>
</html>