<div id="caja-start" class="centrar">
    <br>
    <h1 class="texto-gigante"><b>Welcome to Anarchat!</b></h1>
    <div id="con-cuenta"><!--si tienes iniciada sesion sale este div-->
        <h2 id="nombrado">Hey user X, Why not chatting with someone?</h2>
        <br>
        <a href="/rooms">Enter the Rooms section</a>
        <br><br><br>
        <img src="../public/logo.png" alt="img">
    </div>
    <br><br>
    <div id="sin-cuenta"><!--si no tienes iniciada sesion sale este div-->
        <h2>Stop right there!</h2>
        <p>Papers, please! First you will need an <b>account</b></p>
        <p>It's super easy to create one, you just need a <b>name</b> and a <b>password</b></p>
        <br>
        <a class="enlace-boton" href="/signin">Click here to CREATE a new Anarcat account</a>
        <br><br><br>
        <a class="enlace-boton" href="/login">Click here to LOGIN with an Anarcat account</a>
        <br> <br> <br>
        <img src="https://imgur.com/TuDYCfP.png" alt="img">
        <br>
    </div>
    <h1>About Anarchat</h1>
        <p>Anarchat is a chatting website where you can contact anyone with an account, without restrinctions</p>
        <p>To do it, you have to create an account and join a room with other people, or create your own one</p>
        <br>
        <img src="https://imgur.com/e99SO1h.png" alt="img">
        <br><br>
</div>

<script>
    document.addEventListener("DOMContentLoaded", async () => {
        document.getElementById("btn-start").classList.add("barra-item-activado");
        console.log(window.innerWidth);

        if(localStorage.getItem("user") != undefined && localStorage.getItem("user") != "no"){
            document.getElementById("sin-cuenta").remove();
            const pet = await fetch("/b/user/" + localStorage.getItem("user"));
            const res = await pet.json();
            document.getElementById("nombrado").innerHTML = "Hey " + res.nombre + ", Why not chatting with someone?";
        } else {
            document.getElementById("con-cuenta").remove();
        }

    });
</script>
