<div id="cargando" class="noimagen hidden">
    <br><br><br><br>
    <img src="https://imgur.com/Z9lyXBY.gif" alt="loading...">
</div>
<div class="centrar">
    <h1>Who are you?</h1>
    <h2>Login using only your name and your password</h2>
    <form id="datos">
        <h3><b>Name</b></h3><input type="text" name="nombre" id="nombre"><!--nombre-->
        <br>
        <h3><br><b>Password</b></h3><input type="password" name="contrasegna" id="contrasegna"><!--contrasegna-->
        <br>
        <p><input type="checkbox" name="verContrasegna" id="checkContrasegna">Visible</p><!--contrasegna visible-->
        <br>
        <input type="button" name="terminar" value="I'm ready" id="boton"><!--verificar-->
    </form>
    <br><br>
    <div class="caja-error hidden borde" id="caja-error">
        <p>There was an error with your login, maybe the password or the name are incorrects. Or you don't have an account <p><a href="/signin">You can create one here</a></p></p>
    </div>
    <img src="https://imgur.com/SR4KSa3.png" alt="img">
    <p>You don't have an account? <a href="/signin">create one here</a></p>
</div>
<br><br><br>

<script>
    document.getElementById("btn-account").classList.add("barra-item-activado");
    document.getElementById("logo-arriba").remove();
    document.querySelector("title").innerHTML = "Anarchat - Log in";

    const $nombre = document.getElementById("nombre");
    const $contrasegna = document.getElementById("contrasegna");
    const $boton = document.getElementById("boton");
    const $check = document.getElementById("checkContrasegna");
    const $cajaError = document.getElementById("caja-error");

    $check.checked = false;
    $check.addEventListener("change", (e) => {
        if($check.checked){
            $contrasegna.type="text";
        } else {
            $contrasegna.type="password";
        }
    });

    const enviar = async (usuario, contrasegna) => {//ENVIAR DATOS
        document.getElementById("cargando").classList.remove("hidden");
        const datos = {nombre: usuario, contrasegna: contrasegna}
        res = await fetch("/b/userLogin", {
            method: "POST",
            headers: {
                "Content-type": "application/json; charset=utf-8"
            },
            body: JSON.stringify(datos)
        });
        const status = await res.json();

        if(status.status == "ok"){
            localStorage.setItem("user", status.elId);//iniciar sesion
            localStorage.setItem("dark", status.oscuro);
            window.location.href = "/";
        } else {
            $nombre.value = "";
            $contrasegna.value = "";
            $cajaError.classList.remove("hidden");
        }
        document.getElementById("cargando").classList.add("hidden");
    }

    $boton.addEventListener("click", () => {//VERIFICAR DATOS
        try{
            enviar($nombre.value, $contrasegna.value);
        } catch (err){
            console.log(err);
            window.location.href = "/err404";
        }
        
    });

    
</script>