<div id="cargando" class="noimagen">
    <br><br><br><br>
    <img src="https://imgur.com/Z9lyXBY.gif" alt="loading...">
</div>
<div class="centrar" id="caja-room-edit">
    <h1>Edit the room</h1>
    <div class="caja-error hidden borde" id="caja-error">
        <p>The name must be between 8 and 32 characters length and the description has a 128 character limit</p>
    </div>
    <h2>Name:</h2>
    <input type="text" value="" id="e-nombre-sala">
    <h2>Image link:</h2>
    <input type="text" value="" id="e-url-imagen-sala" placeholder="https://imgur.com/Wega2Bu.png">
    <br><br>
    <a href="" id="enlace-imagen" target="_blank"><img src="" alt="x" id="mostrar-imagen"></a>
    <br>
    <input type="button" class="boton-normal" id="update-imagen" value="Update image">
    <p>We recomend you to upload/browse an image on Imgur, copy the link of the image (not the post) and paste it here with ".png"/".jpg" at the end</p>
    <h2>Description:</h2>
        <div id="e-sala-descripcion" contenteditable>

        </div>
    <p id="descripcion-contador">X/128</p>
    <input type="button" class="boton-normal" id="delete-description" value="Delete description">
    <br>
    <br>
    <h2>Public settings:</h2>
    <div class="hidden borde" id="aviso-nopublic">
        <p>It looks that you already created a public room, you cannot create more. Sorry</p>
        <p>If you want to create a public room, you have to delete the one you have</p>
    </div>
    <div id="check-publica">
        <input type="checkbox" id="e-publica">Public Room
    </div>
    <div class="hidden borde" id="aviso-public">
        <p>If you make this room public, everyone will be able to access. Also, you can only create one public room per account</p>
    </div>
    <br>
    <div id="ver-id" class="borde">
        <p><input type="checkbox" id="check-ver-id">Members can see the ID</p>
        <p id="aviso-ver-id" class="hidden">If you make the room ID public, any member can see it and use it to invite more people, this option is only avaliable with private rooms</p>
    </div>
    <br>
    <input type="button" value="Edit" id="boton-editar-sala">
    <br><br>
    <img src="https://imgur.com/YHVFLnL.png" alt="img">
    <br><br>
    <a href="/roomDel" id="borrar-sala" class="txt-rojo">Delete room</a>
</div>

<script>
    document.execCommand('insertHTML', false, '<br><br>');
    document.getElementById("btn-rooms").classList.add("barra-item-activado");
    document.getElementById("logo-arriba").remove();
    document.querySelector("title").innerHTML = "Anarchat - Edit room";

    if(localStorage.getItem("user") != undefined && localStorage.getItem("user") != "no" && localStorage.getItem("room") != undefined && localStorage.getItem("room") != "no"){
        document.addEventListener("DOMContentLoaded", async () => {

            let req = await fetch("/b/roomData/" + localStorage.getItem("room"));
            let res = await req.json();

            const $nombre = document.getElementById("e-nombre-sala");
            $nombre.focus();
            $nombre.value = res.nombre;
            const $urlFoto = document.getElementById("e-url-imagen-sala");
            $urlFoto.value = res.urlFoto;
            const $enlaceImagen = document.getElementById("enlace-imagen");
            $enlaceImagen.href = res.urlFoto;
            const $displayImagen = document.getElementById("mostrar-imagen");
            $displayImagen.src = res.urlFoto;
            document.getElementById("update-imagen").addEventListener("click", (e) => {//update image
                $enlaceImagen.href = $urlFoto.value;
                $displayImagen.src = $urlFoto.value;
            });
            const $descripcion = document.getElementById("e-sala-descripcion");
            $descripcion.innerHTML = res.descripcion;
            const $contadorDescripcion = document.getElementById("descripcion-contador");
            document.getElementById("delete-description").addEventListener("click", (e) => {//borrar descripcion
                $descripcion.innerHTML = "";
                $contadorDescripcion.innerHTML = "0/128";
            });
            function actualizarContador(){
                $contadorDescripcion.innerHTML = $descripcion.innerHTML.length + "/128";//actualizar contador
                if($descripcion.innerHTML.length > 128){
                    $contadorDescripcion.classList.add("txt-rojo");
                } else {
                    $contadorDescripcion.classList.remove("txt-rojo");
                }
            }
            let contador = setInterval(actualizarContador, 50);

            const $checkPublica = document.getElementById("e-publica");
            const $avisoPublica = document.getElementById("aviso-nopublic");
            const $avisoHacerPublica = document.getElementById("aviso-public");
            const $divVerId = document.getElementById("ver-id");
            const $checkVerId = document.getElementById("check-ver-id");
            $checkVerId.checked = (res.verID == "true");
            const $avisoVerId = document.getElementById("aviso-ver-id");
            let reqUsr = await fetch("/b/userpb/" + localStorage.getItem("user"));
            let resUsr = await reqUsr.json();
            if(res.publica == "true"){
                $divVerId.classList.add("hidden");
                document.getElementById("check-publica").innerHTML = "<p>Once you converted a private room into public you cannot turn it back into private again, sorry.</p>";
            }
            if(resUsr.tienePublica == "true"){
                $avisoPublica.classList.remove("hidden");
                //$checkPublica.checked == false;
                document.getElementById("check-publica").classList.add("hidden");
            } else {
                if(res.publica == "true"){
                    $checkPublica.checked == true;
                    $divVerId.classList.add("hidden");
                    $avisoVerId.classList.add("hidden");
                    $checkVerId.checked = false;
                } else {
                    $checkPublica.checked == false;
                }
            }
            $checkPublica.addEventListener("change", (e) => {//cambiar check publica
                if($checkPublica.checked){
                    $avisoHacerPublica.classList.remove("hidden");
                    $divVerId.classList.add("hidden");
                } else {
                    $divVerId.classList.remove("hidden");
                    $avisoHacerPublica.classList.add("hidden");
                }
                $checkVerId.checked = false;
                $avisoVerId.classList.add("hidden");
            });
            $checkVerId.addEventListener("change", (e) => {//cambiar check visible
                if($checkVerId.checked){
                    $avisoVerId.classList.remove("hidden");
                } else {
                    $avisoVerId.classList.add("hidden");
                }
            });


            document.getElementById("boton-editar-sala").addEventListener("click", async (e) => {//confirmar
                document.getElementById("cargando").classList.remove("hidden");
                if($descripcion.innerHTML.length > 128 || $nombre.value.length < 9 || $nombre.value.length > 32){
                    document.getElementById("caja-error").classList.remove("hidden");
                } else {
                    if($urlFoto.value == "" || $urlFoto.value == undefined){
                        $urlFoto.value = "https://imgur.com/Wega2Bu.png";
                    }
                    if(res.publica == "true"){
                        $checkPublica.checked = true;
                    }
                    const bodyp = {
                        nombre: $nombre.value,
                        descripcion: $descripcion.innerHTML || "",
                        urlFoto: $urlFoto.value,
                        verID: $checkVerId.checked,
                        publica: $checkPublica.checked
                    }
                    await fetch("/b/roomEdit/" + localStorage.getItem("room") + "/" + localStorage.getItem("user"), {
                        method: "PUT",
                        headers:{
                            "Content-type": "application/json; charset=utf-8"
                        },
                        body: JSON.stringify(bodyp)
                    });
                    location.href = "/room";
                }


                document.getElementById("cargando").classList.add("hidden");
            });

            document.getElementById("cargando").classList.add("hidden");
            
        });
    } else {
        location.href = "/err404";
    }
    
</script>