<div id="cargando" class="noimagen">
    <br><br><br><br>
    <img src="https://imgur.com/Z9lyXBY.gif" alt="loading...">
</div>
<div id="con-cuenta" class="hidden sitio-salas">
    <div id="mas-salas">
        <div id="salas-privadas">
            <h1>Private rooms</h1>
            <div class="sala-privada" id="sin-sala-privada">
                <h2>Nothing here</h2>
                <p>You aren't in any private room, create one or join it</p>
            </div>
            

        </div>
        <div id="salas-publicas">
            <h1>Public rooms</h1>
            

        </div>
    </div>
    <a id="crear-sala" href="/createRoom">Create a new room</a>
    <br><br>
    <a id="entrar-sala" href="/joinRoom">Join a room</a>
    <br><br><br>
    <img src="https://imgur.com/e99SO1h.png" alt="img">
    <template id="sala-publica-template">
        <div class="sala-publica" data-posicion="0">
            <h2 id="nombre-sala">X</h2>
            <img src="X" alt="X" class="display-foto-perfil">
            <h3 id="fundador-sala">Founder: X</h3>
            <div id="descripcion-sala" class="descripcion-sala">descripcionnnnnnnnnnnnnnnna sadf sd f aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
            <br>
            <a href="#" id="entrar-sala">Enter...</a>
            <br><br>
        </div>
    </template>
    <template id="sala-privada-template">
        <div class="sala-privada" data-posicion="0">
            <h2 id="nombre-sala">X</h2>
            <img src="X" alt="X" class="display-foto-perfil">
            <h3 id="fundador-sala">Founder: X</h3>
            <div id="descripcion-sala" class="descripcion-sala">descripcionnnnnnnnnnnnnnnna sadf sd f aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
            <br>
            <a href="#" id="entrar-sala">Enter...</a>
            <br><br>
        </div>
    </template>
</div>

<div id="caja-start" class="centrar">
    <div id="sin-cuenta" class="hidden"><!--si no tienes iniciada sesion sale este div-->
        <h2>Stop right there!</h2>
        <p>Papers, please! First you will need an <b>account</b></p>
        <p>It's super easy to create one, you just need a <b>name</b> and a <b>password</b></p>
        <br>
        <a class="enlace-boton" href="/signin">Click here to CREATE a new Anarcat account</a>
        <br><br><br>
        <a class="enlace-boton" href="/login">Click here to LOGIN with an Anarcat account</a>
        <br> <br> <br>
        <img src="https://imgur.com/TuDYCfP.png" alt="img">
        <br>
    </div>
</div>

<script>
    document.getElementById("btn-rooms").classList.add("barra-item-activado");
    document.getElementById("logo-arriba").remove();
    document.querySelector("title").innerHTML = "Anarchat - Rooms";
    if(localStorage.getItem("user") == undefined || localStorage.getItem("user") == "no"){
        document.getElementById("sin-cuenta").classList.remove("hidden");
        document.getElementById("cargando").classList.add("hidden");
    } else {
        document.getElementById("con-cuenta").classList.remove("hidden");
        //con cuenta
        document.addEventListener("DOMContentLoaded", () => {



            document.getElementById("cargando").classList.add("hidden");
        });
    }
</script>