<div id="cargando" class="noimagen">
    <br><br><br><br>
    <img src="https://imgur.com/Z9lyXBY.gif" alt="loading...">
</div>
<div id="con-cuenta" class="hidden sitio-salas">
    <div id="mas-salas">
        <div id="salas-privadas">
            <h1>Private rooms</h1>
            <div class="sala-privada" id="sin-sala-privada">
                <h2>Nothing here</h2>
                <p>You aren't in any private room, create one or join it</p>
            </div>
            

        </div>
        <div id="salas-publicas">
            <h1>Public rooms</h1>
            

        </div>
    </div>
    <a id="crear-sala" href="/createRoom">Create a new room</a>
    <br><br>
    <a id="entrar-sala" href="/joinRoom">Join a room</a>
    <br>
    <p>If a room doesn't appears, reload the site</p>
    <img src="https://imgur.com/yT51eEd.png" alt="img">
    <template id="sala-publica-template">
        <div class="sala-publica">
            <h2 id="nombre-sala">X</h2>
            <img id="foto-sala" src="X" alt="X" class="display-foto-perfil">
            <p id="fundador-sala">Founder: X</p>
            <div id="descripcion-sala" class="descripcion-sala borde">X</div>
            <br>
            <a href="" id="entrar-sala">Enter...</a>
            <br><br>
        </div>
    </template>
    <template id="sala-privada-template">
        <div class="sala-privada">
            <h2 id="nombre-sala">X</h2>
            <img id="foto-sala" src="X" alt="X" class="display-foto-perfil">
            <p id="fundador-sala">Founder: X</p>
            <div id="descripcion-sala" class="descripcion-sala">X</div>
            <br>
            <a href="" id="entrar-sala">Enter...</a>
            <br><br>
        </div>
    </template>
</div>

<div id="caja-start" class="centrar">
    <div id="sin-cuenta" class="hidden"><!--si no tienes iniciada sesion sale este div-->
        <h2>Stop right there!</h2>
        <p>Papers, please! First you will need an <b>account</b></p>
        <p>It's super easy to create one, you just need a <b>name</b> and a <b>password</b></p>
        <br>
        <a class="enlace-boton" href="/signin">Click here to CREATE a new Anarcat account</a>
        <br><br><br>
        <a class="enlace-boton" href="/login">Click here to LOGIN with an Anarcat account</a>
        <br> <br> <br>
        <img src="https://imgur.com/TuDYCfP.png" alt="img">
        <br>
    </div>
</div>

<script>
    document.getElementById("btn-rooms").classList.add("barra-item-activado");
    document.getElementById("logo-arriba").remove();
    document.querySelector("title").innerHTML = "Anarchat - Rooms";
    if(localStorage.getItem("user") == undefined || localStorage.getItem("user") == "no"){
        document.getElementById("sin-cuenta").classList.remove("hidden");
        document.getElementById("cargando").classList.add("hidden");
    } else {
        document.getElementById("con-cuenta").classList.remove("hidden");
        //con cuenta

        const dibujar = async () => {

        }

        document.addEventListener("DOMContentLoaded", async () => {
            let req = await fetch("/b/rooms/" + localStorage.getItem("user"));
            let res = await req.json();//array con los id de las salas

            if(res.salas.length != 0){
                document.getElementById("sin-sala-privada").remove();
                const $lugar = document.getElementById("salas-privadas");
                //let elementos = "";
                
                res.salas.forEach(async (e)=>{//por cada id encontrado
                    let reqs = await fetch("/b/roomData/" + e);//recibir perfilado de sala
                    let ress = await reqs.json();

                    if(ress.publica != "true"){
                        const $cuadro = document.createElement("div");
                        $cuadro.innerHTML = document.getElementById("sala-privada-template").innerHTML;
                        //y renderizarlo
                        $cuadro.querySelector("#nombre-sala").innerHTML = ress.nombre;
                        $cuadro.querySelector("#foto-sala").src = ress.urlFoto;
                        $cuadro.querySelector("#descripcion-sala").innerHTML = ress.descripcion;
                        $cuadro.querySelector("#entrar-sala").href = "/goRoom?room=" + ress._id;
                        $cuadro.querySelector("#fundador-sala").innerHTML = "Founder: <b>" + ress.nombreFundador + "</b>";
                        if(ress.descripcion == ""){
                            $cuadro.querySelector("#descripcion-sala").remove();
                        }

                        $lugar.innerHTML += $cuadro.innerHTML;//esto se deberia hacer con un fragmento pero no va
                        $lugar.innerHTML += "<br>";
                    }
                });
            }
            document.getElementById("cargando").classList.add("hidden");

            //ver salas publicas
            let reqp = await fetch("/roomsPublic/16");
            let resp = await reqp.json();
            //pintar salas publicas
            const $sitioPublicas = document.getElementById("salas-publicas");
            await resp.forEach(async (e) => {
                const $cuadro = document.createElement("div");
                $cuadro.innerHTML = document.getElementById("sala-publica-template").innerHTML;
                $cuadro.querySelector("#nombre-sala").innerHTML = e.nombre;
                $cuadro.querySelector("#foto-sala").src = e.urlFoto;
                $cuadro.querySelector("#descripcion-sala").innerHTML = e.descripcion;
                $cuadro.querySelector("#entrar-sala").href = "/goRoom?room=" + e._id;

                let reqpf = await fetch("/b/founder/" + e._id);
                let respf = await reqpf.json();
                $cuadro.querySelector("#fundador-sala").innerHTML = "Founder: <b>" + respf.nombre + "</b>";

                if(e.descripcion == ""){
                    $cuadro.querySelector("#descripcion-sala").remove();
                }

                $sitioPublicas.innerHTML += $cuadro.innerHTML;//esto se deberia hacer con un fragmento pero no va
                $sitioPublicas.innerHTML += "<br>";
            });
        });
        
    }
</script>