<div id="cargando" class="noimagen">
    <br><br><br><br>
    <img src="https://imgur.com/Z9lyXBY.gif" alt="loading...">
</div>
<div id="ver-perfil" class="hidden">
    <div>
        <br>
        <a href="" id="miniperfil-foto-enlace" target="_blank"><img src="https://imgur.com/Wega2Bu.png" alt="x" id="miniperfil-foto"></a>
        <h2 id="miniperfil-nombre">nombre</h2>
        <div id="miniperfil-descripcion">
            asfdasdfaswdf
        </div>
        <br>
        <input type="button" value="Close" id="miniperfil-cerrar" class="boton-normal">
    </div>
</div>
<div id="info-sala">
    <a id="s-enlace-imagen" target="_blank" href="https://imgur.com/Wega2Bu.png"><img id="s-foto-sala" src="https://imgur.com/Wega2Bu.png" alt="X"></a>
    <div>
        <h2 id="s-nombre-sala">X</h2>
        <a href="" id="s-fundador-sala" data-usrid="">By X</a>
        <p id="s-sala-miembros">publica / 888 miembros</p>
    </div>
    <br>
    <div id="s-descripcion-sala">
        X
    </div>
</div>
<div id="pre-chat">
    <div id="caja-id-sala">
        <p id="id-sala" class="hidden">id: sadfasdfasdfasdf</p>
        <input id="check-ver-id" type="checkbox"><p>Visible invitation ID</p>
        <input type="button" id="copiar-enlace" value="Copy address" class="boton-normal">
    </div>
    <div id="opciones-sala">
        <input type="button" id="salir-sala" value="Exit room">
        <input type="button" id="editar-sala" value="Edit room details">
    </div>
</div>

<div id="cosas-sala">
    <div id="chat">

        

    </div>
    <div id="miembros">
        <h2>Members</h2>

        

    </div>
</div>
<div id="extra-chat">
    
    <div id="inputs-sala">
        <p class="hidden" id="aviso-imagen">Paste an image from Imgur or another service typing at the end ".png" or wathever the extension is</p>
        <input type="text" id="escribir-mensaje" placeholder="Send something">
        <button id="mandar-mensaje"><img src="https://imgur.com/b8vGsmf.png" alt="Send"></button>
        <button id="mandar-archivo"><img src="https://imgur.com/0o9W5Xu.png" alt="File"></button>
        <button id="mandar-imagen"><img src="https://imgur.com/Y9JWrXh.png" alt="Png"></button>
    </div>
    <div class="centrar hidden" id="aviso-archivo">
        <h3>If you want to send an image, audio or video just paste a html tag with the url of the file, like from <a href="https://imgur.com/">Imgur</a> or <a href="https://www.youtube.com/">Youtube</a></h3>
        <h3>If you want to send another type of file we recomend you services like <a href="https://www.mediafire.com/">Mediafire</a> or <a href="https://mega.io/">Mega</a></h3>
        <p>The free service of Anarchat cannot hold a file database, sorry <div>¯\_(ツ)_/¯</div></p><br>
    </div>
    <div style="margin: 10px;">
        <p id="error-length" class="txt-rojo hidden">Your message won't be sent if it lengths more than 1024 characters</p>
        <p>If you need to see more messages at once or change the reload time you can go to <a href="/settings">settings</a></p>
        <p>Or if you need to see all the messages at once (non-realtime) you can go to <a href="/roomAll">All the messages</a></p>
        <p>This services may be slow so it can be required to refresh the page if some information is missing</p>
    </div>
</div>




<div id="template-mensaje" class="hidden">
    <div class="mensaje" id="template-mensaje-contenido">
        <div class="mensaje-persona" id="mensaje-persona">
            <img class="imagen-mensaje" id="imagen-mensaje" src="https://imgur.com/esukGVq.png" alt="X">
            <a href="#" id="usuario-mensaje" data-usrid="">X</a>
            <input type="button" value="Edit" id="editar-mensaje" class="boton-normal" data-btnedit="">
            <input type="button" value="Delete" id="borrar-mensaje" class="boton-normal" data-btndel="">
            <i id="aviso-borrar" class="hidden" data-aviso-del="">If the message is not deleted inmediatly, refresh the page in a few seconds...</i>
            <div class="hidden" id="caja-edicion-mensaje" data-editbox="">
                <input type="text" value="" placeholder="Press enter to edit" id="texto-editar" data-btnedit-txt="">
                <i id="aviso-editar" class="hidden" data-aviso-ed="">If the message is not edited inmediatly, refresh the page in a few seconds...</i>
            </div>
        </div>
        <i id="menasje-fecha">x</i>
        <div class="mensaje-texto" id="mensaje-texto">
            <p id="texto-mensaje">X</p>
        </div>
    <!--<div id="descarga-archivo" class="descarga-archivo hidden">
            <a id="link-descarga" href="#">X</a>
        </div>-->
        <br>
    </div>
</div>
<template id="template-miembro">
    <div class="un-miembro">
        <div class="miembro-persona" id="miembro-persona">
            <img class="imagen-miembro" id="imagen-miembro" src="" alt="X">
            <a href="#" id="usuario-miembro" data-usrid="">X</a><button data-usrkick="">Kick</button>
        </div>
        
    </div>
</template>



<script>
    document.getElementById("btn-rooms").classList.add("barra-item-activado");
    document.getElementById("logo-arriba").remove();

    if(localStorage.getItem("user") != undefined && localStorage.getItem("user") != "no" && localStorage.getItem("room") != undefined && localStorage.getItem("room") != "no"){
        document.addEventListener("DOMContentLoaded", async () => {
            const miniperfil = async (e, id) => {//abrir miniperfil
                document.getElementById("ver-perfil").classList.remove("hidden");
                document.getElementById("ver-perfil").classList.add("animacion-abrir-miniperfil");
                document.getElementById("ver-perfil").classList.remove("animacion-cerrar-miniperfil");
                let req = await fetch("/b/userProfile/" + id);
                let res = await req.json();
                document.getElementById("miniperfil-foto").src = res.urlFoto;
                document.getElementById("miniperfil-foto-enlace").href = res.urlFoto;
                document.getElementById("miniperfil-nombre").innerHTML = res.nombre;
                document.getElementById("miniperfil-descripcion").innerHTML = res.descripcion;
            }
            document.getElementById("miniperfil-cerrar").addEventListener("click", () => {
                let timerCerrar = setTimeout(() => {
                    document.getElementById("ver-perfil").classList.add("hidden");
                }, 300);
                document.getElementById("ver-perfil").classList.remove("animacion-abrir-miniperfil");
                document.getElementById("ver-perfil").classList.add("animacion-cerrar-miniperfil");
            });



            const salaActual = localStorage.getItem("room");
            const usuarioActual = localStorage.getItem("user");
            document.getElementById("copiar-enlace").addEventListener("click", (e) => {//copiar enlace
                let copiar = window.location.origin + "/autoJoin?room=" + salaActual;
                navigator.clipboard.writeText(copiar);
                console.log(copiar);
            });

            let req = await fetch("/b/roomData/" + salaActual);
            let res = await req.json();

            const $nombreSala = document.getElementById("s-nombre-sala");
            $nombreSala.innerHTML = res.nombre;
            //$nombreSala.href = "/seeUser/" + res.idFundador;
            document.querySelector("title").innerHTML = res.nombre + " - Anarchat";
            const $descripiconSala = document.getElementById("s-descripcion-sala");
            $descripiconSala.innerHTML = res.descripcion;
            if(res.descripcion == ""){
                $descripiconSala.remove();
            }
            const $fundadorSala = document.getElementById("s-fundador-sala");
            $fundadorSala.innerHTML = "By: <b>" + res.nombreFundador + "</b>";
            $fundadorSala.setAttribute("data-usrid", res.idFundador);
            const $enlaceImagenSala = document.getElementById("s-enlace-imagen");
            $enlaceImagenSala.href = res.urlFoto;
            const $imagenSala = document.getElementById("s-foto-sala");
            $imagenSala.src = res.urlFoto;
            const $idSala = document.getElementById("id-sala");
            $idSala.innerHTML = "ID: <b>" + res._id + "</b>";
            const $checkId = document.getElementById("check-ver-id");
            const $contadorMiembrosSala = document.getElementById("s-sala-miembros");
            const $botonSalir = document.getElementById("salir-sala");
            $botonSalir.addEventListener("click", (e) => {//salir de la sala
                location.href = "/roomExit"
            });
            const $zonaMiembros = document.getElementById("miembros");
            let reqMiembros = await fetch("/b/roomMembers/" + salaActual);
            let resMiembros = await reqMiembros.json();
            if(res.publica == "true"){
                $contadorMiembrosSala.innerHTML = "Public room";
                document.getElementById("caja-id-sala").remove();
                $botonSalir.remove();
                $zonaMiembros.remove();
            } else {
                $contadorMiembrosSala.innerHTML = "Members: " + resMiembros.idMiembros.length;
                if(res.verID == "false" && localStorage.getItem("user") != res.idFundador){
                    document.getElementById("caja-id-sala").remove();
                }
            }
            let reqFounder = await fetch("/b/founder/" + salaActual);
            let resFounder = await reqFounder.json();
            const $botonEditar = document.getElementById("editar-sala");
            $botonEditar.addEventListener("click", (e) => {//ir a editar la sala
                location.href = "/roomEdit";
            });
            if(resFounder._id != localStorage.getItem("user")){
                $botonEditar.remove();
            } else {
                $botonSalir.remove();
            }

            //poner miembros (se deberia hacer con fragmento):
            if(res.publica != "true"){
                //let fragmentoMiembros = document.createDocumentFragment();
                resMiembros.idMiembros.forEach(async (re) => {
                    const $cuadros = document.createElement("div");
                    $cuadros.innerHTML = document.getElementById("template-miembro").innerHTML;
                    let reqPerf = await fetch("/b/userProfile/" + re);
                    let resPerf = await reqPerf.json();
                    if(re == resFounder._id){
                        $cuadros.querySelector("#usuario-miembro").innerHTML = '<b id="nombre-miembro-fundador">' + resPerf.nombre + '</b>';
                    } else {
                        $cuadros.querySelector("#usuario-miembro").innerHTML = resPerf.nombre;
                    }
                    $cuadros.querySelector("#usuario-miembro").setAttribute("data-usrid", re);
                    $cuadros.querySelector("#imagen-miembro").src = resPerf.urlFoto;
                    if(usuarioActual == resFounder._id){
                        $cuadros.querySelector("button").setAttribute("data-usrkick", re);
                    } else {
                        $cuadros.querySelector("button").remove();
                    }
                    if(re != resFounder._id){
                        document.getElementById("miembros").innerHTML += $cuadros.innerHTML;
                    } else {
                        const $cuadroMiembros = document.getElementById("miembros");
                        $cuadroMiembros.innerHTML = $cuadros.innerHTML + "<hr>" + $cuadroMiembros.innerHTML;
                        $cuadroMiembros.innerHTML = "<h2>Founder</h2>" + $cuadroMiembros.innerHTML;
                    }
                    
                });
            //document.getElementById("miembros").innerHTML += fragmentoMiembros.innerHTML;
            }


            
            //poner mensajes:
            let recibiendo = "true";
            let mandandoImagen = "false";
            const chunkSize = localStorage.getItem("chunk-size");
            const reloadTime = localStorage.getItem("reload-time");
            const $zonaMensajes = document.getElementById("chat");
            const tenerMensajes = async () => {//ver mensajes
                if($zonaMensajes.childElementCount > chunkSize + 2){
                    $zonaMensajes.innerHTML = "";
                }
                let reqMsg = await fetch("/b/roomMsg/" + salaActual + "/" + chunkSize);
                let resMsg = await reqMsg.json();
                //console.log(resMsg);
                if(resMsg.length > 0 && recibiendo == "true"){
                    const $fragment = document.createElement("div");
                    const $contenidoBase = document.getElementById("template-mensaje-contenido");
                    let i = 0;
                    resMsg.forEach((el) => {
                        const $cuadro = document.createElement("div");
                        $cuadro.classList.add("mensaje");
                        $cuadro.innerHTML = $contenidoBase.innerHTML;

                        $cuadro.querySelector("#imagen-mensaje").src = resMsg[i].urlFoto;
                        $cuadro.querySelector("#usuario-mensaje").innerHTML = resMsg[i].nombre;
                        let date = new Date(resMsg[i].fecha);
                        $cuadro.querySelector("#menasje-fecha").innerHTML = date.toUTCString();
                        $cuadro.querySelector("#usuario-mensaje").setAttribute("data-usrid", resMsg[i].idUsuario);
                        $cuadro.querySelector("#texto-mensaje").innerHTML = resMsg[i].mensaje;
                        if(resMsg[i].idUsuario == resFounder._id){
                            $cuadro.querySelector("#usuario-mensaje").classList.add("del-fundador");
                        }
                        if(usuarioActual == resFounder._id || usuarioActual == resMsg[i].idUsuario){
                            $cuadro.querySelector("#borrar-mensaje").setAttribute("data-btndel", el.orden);
                            $cuadro.querySelector("#caja-edicion-mensaje").setAttribute("data-editbox", el.orden);
                            $cuadro.querySelector("#texto-editar").setAttribute("data-btnedit-txt", el.orden);
                            $cuadro.querySelector("#editar-mensaje").setAttribute("data-btnedit", el.orden);
                            $cuadro.querySelector("#aviso-borrar").setAttribute("data-aviso-del", el.orden);
                            $cuadro.querySelector("#aviso-editar").setAttribute("data-aviso-ed", el.orden);
                        } else {
                            $cuadro.querySelector("#caja-edicion-mensaje").remove();
                            $cuadro.querySelector("#borrar-mensaje").remove();
                            $cuadro.querySelector("#editar-mensaje").remove();
                        }
                        $fragment.innerHTML = $cuadro.innerHTML + $fragment.innerHTML;
                        i++;
                    });
                    document.getElementById("chat").innerHTML = $fragment.innerHTML;
                }

            }
            tenerMensajes();


            let reqYo = await fetch("/b/userProfile/" + usuarioActual);
            let resYo = await reqYo.json();
            const miNombre = resYo.nombre;
            const miFoto = resYo.urlFoto;
            const $cajaTexto = document.getElementById("escribir-mensaje");
            function verUrl(msg) {
                let url;
                try{
                    url = new URL(msg);
                }catch(err){
                    return false;
                }
                return true;
            }

            const mandarTexto = async (elTexto) => {//enviar un mensaje
                console.log("premandar");
                if(mandandoImagen == "true"){
                    elTexto = '<img src="' + elTexto + '" alt="' + elTexto + '">'
                }
                if(verUrl(elTexto)){
                    elTexto = '<a href="' + elTexto + '" target="_blank">' + elTexto + "<a>";
                }
                const bodyy = {
                    urlFoto: miFoto,
                    idUsuario: usuarioActual,
                    mensaje: elTexto,
                    nombre: miNombre
                }
                document.getElementById("aviso-imagen").classList.remove("hidden");
                mandandoImagen = "false";
                await fetch("/b/say/" + localStorage.getItem("room"), {
                    method: "POST",
                    headers: {
                        "Content-type": "application/json; charset=utf-8"
                    },
                    body: JSON.stringify(bodyy)
                });
                console.log("mandar");
                tenerMensajes();
            }
            const mandarArchivo = async () => {//enviar un archivo (NO HAY SERVICIO DE ARCHIVOS)
                document.getElementById("aviso-archivo").classList.remove("hidden");
                document.getElementById("mandar-archivo").classList.add("hidden");



  
            }
            $cajaTexto.addEventListener("keydown", (e) => {
                if($cajaTexto.value.length > 1024){
                    document.getElementById("error-length").classList.remove("hidden");
                } else {
                    document.getElementById("error-length").classList.add("hidden");
                }
            });
            document.getElementById("mandar-mensaje").addEventListener("click", (e) => {
                e.stopPropagation();
                if($cajaTexto.value != ""){
                    mandarTexto($cajaTexto.value);
                    $cajaTexto.value = "";
                }
            });
            $cajaTexto.addEventListener("keydown", (e) => {
                if(e.code == "Enter" && $cajaTexto.value != ""){
                    mandarTexto($cajaTexto.value);
                    $cajaTexto.value = "";
                }
            });
            document.getElementById("mandar-archivo").addEventListener("click", (e) => {
                e.stopPropagation();
                document.getElementById("aviso-imagen").classList.add("hidden");
                mandarArchivo();
            });
            document.getElementById("mandar-imagen").addEventListener("click", (e) => {//dar a mandar imagen
                e.stopPropagation();
                document.getElementById("aviso-imagen").classList.remove("hidden");
                mandandoImagen = "true";
            });

            let botonesHechar = setTimeout(() => {//agregar funcion a los botones de hechar usuario
                if(res.idFundador == usuarioActual && res.publica != "true"){
                    document.querySelector('[data-usrkick="' + usuarioActual + '"]').remove();
                    let botones = document.querySelectorAll("[data-usrkick]");
                    botones.forEach((e) => {
                        e.addEventListener("click", async (e2) => {
                            const bodyy = {
                                        usuario: e.getAttribute("data-usrkick"),
                                        sala: salaActual
                                    }
                            console.log(bodyy);
                            await fetch("/b/exit", {
                                method: "PUT",
                                headers: {
                                    "Content-type": "application/json; charset=utf-8"
                                },
                                body: JSON.stringify(bodyy)
                            });
                            e.classList.remove();
                            location.reload();
                        });
                    });
                } else {
                    let botones = document.querySelectorAll("[data-usrkick]");
                    console.log(botones);
                    botones.forEach((e) => {
                        e.remove();
                    });
                }
            }, 100);

            document.getElementById("cargando").classList.add("hidden");
            $checkId.addEventListener("change", (e) => {//ver id
                if($checkId.checked){
                    $idSala.classList.remove("hidden");
                } else {
                    $idSala.classList.add("hidden");
                }
            });
            $fundadorSala.addEventListener("click", (e) => {//mostrar perfil del fundador
                e.preventDefault();
            });

            let cont = setInterval(() => {//eventos para botones dinamicos
                if(recibiendo == "true"){
                    document.querySelectorAll('[data-usrid]').forEach((el) => {//agregar el miniperfil a los usuarios
                        let elClone = el.cloneNode(true);
                        el.parentNode.replaceChild(elClone, el);
                    });
                    document.querySelectorAll('[data-usrid]').forEach((el) => {
                        el.addEventListener("click", function(e){
                            e.preventDefault();
                            const elId = this.getAttribute("data-usrid");
                            miniperfil(e, elId);
                            console.log("mini");
                        });
                    })
    
    
                    document.querySelectorAll('[data-btndel]').forEach((el) => {//agregar funcion a los botones de borrar
                        let elClone = el.cloneNode(true);
                        el.parentNode.replaceChild(elClone, el);
                    });
                    document.querySelectorAll('[data-btndel]').forEach((el) => {
                        el.addEventListener("click", async function(e) {
                            document.querySelector('[data-aviso-del="' + el.getAttribute("data-btndel") + '"]').classList.remove("hidden");
                            await fetch("/b/saydel/" + salaActual + "/" + el.getAttribute("data-btndel"), {//borrar mensaje
                                method: "POST",
                                headers: {
                                    "Content-type": "application/json; charset=utf-8"
                                },
                                body: JSON.stringify({})
                            });
                            el.remove();
                            tenerMensajes();
                            location.reload();
                        });
                    });
    
    
                    document.querySelectorAll('[data-btnedit]').forEach((el) => {//agregar funcion al primer boton de editar
                        let elClone = el.cloneNode(true);
                        el.parentNode.replaceChild(elClone, el);
                    });
                    document.querySelectorAll('[data-btnedit]').forEach((el) => {//editar mensaje
                        el.addEventListener("click", function(e) {
                            document.querySelector('[data-editbox="' + el.getAttribute("data-btnedit") + '"]').classList.remove("hidden");
                            document.querySelector('[data-editbox="' + el.getAttribute("data-btnedit") + '"]').focus();
                            recibiendo = "false";
                            el.classList.add("hidden");
                        });
                    });
    
    
                    document.querySelectorAll('[data-btnedit-txt]').forEach((el) => {//agregar funcion de enter a los textos de editar
                        let elClone = el.cloneNode(true);
                        el.parentNode.replaceChild(elClone, el);
                    });
                    document.querySelectorAll('[data-btnedit-txt]').forEach((el) => {
                        el.addEventListener("keydown", async (e) => {
                            if(e.code == "Enter"){
                                document.querySelector('[data-aviso-ed="' + el.getAttribute("data-btnedit-txt") + '"]').classList.remove("hidden");
                                recibiendo = "true";
                                //location.reload();
                                await fetch("/b/say/" + salaActual + "/" + el.getAttribute("data-btnedit-txt"), {
                                    method: "PUT",
                                    headers: {
                                        "Content-type": "application/json; charset=utf-8"
                                    },
                                    body: JSON.stringify({nuevoTexto: el.value})
                                });
                                //el.parentElement.querySelector("#texto-mensaje").innerHTML = el.value;
                            }
                        });
                    });
                }
            }, 1000);

            let recargarChat = setInterval(tenerMensajes, reloadTime);
        });
    } else {
        window.location.href == "/err404";
    }
    
</script>