<h1>Congrulations!!!, you are in one secret site!!!</h1>
<a href="/">go back</a><br><br>
<img src="https://imgur.com/Gw7Prdx.png" id="palanca" class="" alt="It doesn't work">

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<img src="https://imgur.com/y18kY15.png" alt="img">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p>.</p>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const $palanca = document.getElementById("palanca");
            if(localStorage.getItem("palanca") != "true"){
                $palanca.classList.add("palanca-no");
            } else {
                $palanca.classList.remove("palanca-no");
            }
            $palanca.addEventListener("click", (e) => {
                console.log("dd");
                if($palanca.classList.contains("palanca-no")){
                    $palanca.classList.remove("palanca-no");
                    localStorage.setItem("palanca", "true");
                } else {
                    $palanca.classList.add("palanca-no");
                    localStorage.setItem("palanca", "false");
                }
            });
    });
</script>