<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anarchat - Start</title>
    <link rel="icon" href="https://imgur.com/vfejwYW.png">
    <link rel="stylesheet" href="public/global0.css">
</head>
<body>
    <div id="logo-arriba">
        <img id="logo-principal" src="https://imgur.com/u9tdUO5.png" alt="Anarchat" href="https://anarchat.vercel.app">
    </div>
    <br>
    <div id="barra">
        <a class="barra-item barra-item-activado" href="https://anarchat.vercel.app">
            Start
        </a>
        <a class="barra-item" href="https://anarchat.vercel.app/rooms">
            Rooms
        </a>
        <a class="barra-item" href="https://anarchat.vercel.app/account">
            Account
        </a>
        <a class="barra-item" href="https://anarchat.vercel.app/about">
            About
        </a>
    </div>
    <main>