<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anarchat - Start</title>
    <link rel="icon" href="https://imgur.com/a/FJcAVnP.png">
    <link rel="stylesheet" href="public/global0.css">
</head>
<body>
    <div id="logo-arriba">
        <img id="logo-principal" src="https://imgur.com/8LDJRvr.png" alt="Anarchat" href="https://anarchat.vercel.app">
        <br>
    </div>
    <div id="barra">
        <a class="barra-item" id="btn-start" href="/">
            Start
        </a>
        <a class="barra-item" id="btn-rooms" href="/rooms">
            Rooms
        </a>
        <a class="barra-item" id="btn-account" href="/account">
            Account
        </a>
        <a class="barra-item" id="btn-about" href="/about">
            About
        </a>
    </div>
    <main>