:root{
    --colorBarraNo: #425c6d;/*fondo de los items de la barra cuando no estan seleccionados*/
    --colorBarraSi: #7ea2b9;/*fondo de los items de la barra cuando si estan seleccionados*/
    --colorLetraBarraNo: white;/*letra de los items de la barra cuando no estan seleccionados*/
    --colorLetraBarraSi: black;/*letra de los items de la barra cuando si estan seleccionados*/
    --colorBarra: #6096ba;/*color de fondo de la barra de navegacion*/
    --colorBarraSeleccionado: #2fcfcf;/*color de fondo del item seleccionado de la barra*/

    --colorFondoAbajo: #141414;/*el fondo de abajo del todo*/
    --colorLetraAbajo: white;/*la letra del fondo de abajo del todo*/

    --colorFondo: white;/*color de fondo*/
    --colorFondo2: #e2efff;/*color de fondo de otras cosas*/
    --colorLetra1: black;/*color de letra tipo 1*/
    --colorLetra2: #181818;/*color de letra tipo 2*/
    --colorLetra3: white;/*color de letra tipo 2*/
    --colorBorde: black;/*el color de los bordes*/

    --colorBoton: #3e4142;/*color de fondo de los botones*/
    --colorError: red;/*color para cosas malas*/
    --colorErrorLigero: #5c0000;/*botones peligrosos*/
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
main{
    min-height: 100%;
    
}
#fondo{
    background-color: var(--colorFondo);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
}
html *{
    font-family:'Courier New', Courier, monospace;
    
    color: var(--colorLetra1);
}
main img{
    border: 2px solid black;
}
#logo-principal{/*imagen del logo de la pagina principal*/
    height: 100%;
}
#logo-arriba{/*div para la imagen*/
    height: 400px;
    text-align: center;
    align-content: center;
}
.hidden{
    visibility: hidden;
    width: 0px;
    height: 0px;
    position: absolute;
}
.txt-rojo{
    color: var(--colorError);
}

@keyframes transicion-barra-item {/*transicion de los items de la barra*/
    from{
        background-color: var(--colorBarraNo);
        color: var(--colorLetraBarraNo);
    }
    to{
        background-color: var(--colorBarraSi);
        color: var(--colorLetraBarraSi);
    }
}
/*@keyframes animacion-barra{animacion de la barra al empezar
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}*/
#barra{/*barra de navegacion*/
    background-color: var(--colorBarra);
    display: flex;
    position: sticky;
    left: 0;
    top: 0;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
    z-index: 4;

    animation-name: animacion-barra;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
.barra-item{/*items de la barra de navegacion*/
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    width: 25%;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--colorBarraNo);

    color: var(--colorLetraBarraNo);
    transition-property: color background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.barra-item:hover:not(.barra-item-activado){/*pasando el raton por un item de la barra*/
    background-color: var(--colorBarraSi);
    color: var(--colorLetraBarraSi);
    cursor: pointer;
}
.barra-item-activado{/*si estas en esa seccion cambia el item de la barra*/
    background-color: var(--colorBarraSeleccionado);
    border: 1px solid var(--colorBorde);
}

#footer{/*cuadro de abajo del todo*/
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}
#footer>p{/*texto del footer*/
    background-color: var(--colorFondoAbajo);
    font-size: 1.2rem;
    padding: 15px;
    color: var(--colorLetraAbajo);
}
#footer a{/*enlace del footer*/
    background-color: var(--colorFondoAbajo);
    color: var(--colorLetraAbajo);
}
.texto-gigante{/*hay algunos textos gigantes*/
    font-size: 5rem;
    margin: 2px;
}
.centrar{/*simplemente centrar el texto*/
    text-align: center;
}


#caja-start{/*la caja principal del menu de inicio*/
    color: var(--colorLetra1);
}
#caja-start a:not(.noborde){/*enlaces/botones de inicio*/
    text-decoration: none;
    padding: 10px;
    background-color: var(--colorBoton);
    color: var(--colorLetra3);
    margin: 10px;
    font-size: 1.5rem;
    border: 2px solid var(--colorBorde);
}


form input[type="text"], form input[type="password"]{/*todos los text input*/
    width: 300px;
    font-size: 1.2rem;
    border: 2px solid var(--colorBorde);
}
input[type="button"]:not(.boton-normal){/*todos los button input*/
    font-size: 1.2rem;
    border: 2px solid var(--colorBorde);
    padding: 10px;
    background-color: var(--colorBarraNo);
    color: var(--colorLetraBarraNo);
    transition-property: color background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
input[type="button"]:hover:not(.boton-normal){/*input boton cuando pasas el raton*/
    background-color: var(--colorBarraSi);
    color: var(--colorLetraBarraSi);
    cursor: pointer;
}
form input[type="checkbox"]{/*todos los checkbox input*/
    height: 15px;
    width: 15px;
}
.caja-error{/*cuando un form de error sale aqui dentro*/
    background-color: var(--colorError);
    border: 1px solid var(--colorBorde);
    margin: 30px;
}
.caja-error>p{/*texto del error*/
    padding: 20px;
    margin: 20px;
    background-color: var(--colorError);
}
.caja-error a{/*crear cuenta desde el error*/
    text-decoration: none;
    background-color: var(--colorBoton);
    color: var(--colorLetra3);
    margin: 10px;
    font-size: 1.5rem;
    border: 2px solid var(--colorBorde);
    padding: 5px;
}


.elperfil{/*la caja en la que aparece el perfil*/
    border: 2px solid var(--colorBorde);
    width: 80%;
    position:static;
    transform:translateX(10%);
    justify-content: center;
    z-index: -1;
    background-color: var(--colorFondo2);
}
#zona-perfil{/*la caja en la que aparece el perfil*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#zona-datos-perfil{/*caja con todos los datos del perfil*/
    display: flex;
    justify-content: center;
    align-items: start;
}
#zona-datos-perfil>div{/*ambas cajas de la seccion del perfil*/
    margin: 10px;
    width: 50%;
}
#zona-datos-perfil>#perfil-dato h2{/*caja de dato*/
    text-align: right;
}
#zona-datos-perfil>#perfil-valor h2{/*caja de valor*/
    text-align: left;
    font-weight: lighter;
}
#sitio-id, #url-imagen-ir{/*texto con tu id y la url de la imagen*/
    overflow: scroll;
    width: 350px;
    background-color: transparent;
    /* font-size: 1rem;
    align-self: center; */
}
#url-imagen-ir{/*solo el input de la url*/
    width: 100%;
}
#sitio-descripcion{/*caja de descripcion*/
    height: 160px;
    margin: 10px;
    align-items: start;
    justify-content: start;
    text-align: start;
    background-color: var(--colorFondo);
    border: 2px solid var(--colorBorde);
    overflow: scroll;
}
#display-foto-perfil, .display-foto-perfil{/*la imagen puesta en el perfil*/
    size: 128px;
    width: 128px;
    height: 128px;
}
#btn-logout, #btn-delete-account, #boton-borrar{/*botones extra de account*/
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: var(--colorLetra3);
    background-color: var(--colorErrorLigero);
    border: 1px solid var(--colorBorde);
    overflow: hidden;
}
#dcontrasegna1, #dcontrasegna2{/*sitios para la contrasegna al borrar*/
    width: 40%;
}

#mas-salas{/*caja principal para las salas*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}
#salas-privadas, #salas-publicas{/*ambas secciones de salas*/
    margin: 10px;
    text-align: center;
    border: 2px solid var(--colorBorde);
    background-color: var(--colorFondo2);
    width: 40%;
    height: 80vh;
    overflow-y: scroll;
}
.sala-privada, .sala-publica{/*cada cuadro de sala*/
    border: 1px solid var(--colorBorde);
    background-color: var(--colorFondo);
    margin: 10px 20px;
    overflow: hidden;
}
.descripcion-sala{/*cuadro con la descripcion de una sala*/
    width: 90%;
    max-height: 200px;
    overflow: scroll;
    padding: 10px;
    text-align: start;
}
#nombre-sala{/*titulo de sala*/
    padding: 0;
    margin: 3px;
}
#entrar-sala, #crear-sala{/*boton para entrar o crear una sala*/
    background-color: var(--colorBoton);
    color: var(--colorLetra3);
    text-decoration: none;
    padding: 5px 10px;
    margin: 40px;
}
.sitio-salas{/*lo mas fuera de lo de las salas*/
    text-align: center;
}
#i-sala-descripcion{/*el input de descripcion de la sala*/
    width: 60%;
    height: 150px;
    overflow: hidden;
    text-align: start;
    border: 1px solid var(--colorBorde);
    transform:translateX(32%);
}


@media (max-width: 782px){/*para dispositivos verticales*/
    #logo-arriba{
        visibility: hidden;
        width: 0%;
        height: 0%;
        position: absolute;
    }
    #footer>p{
        padding: 4px;
        font-size: 1rem;
    }
    #barra{
        height: 50px;
    }
    .barra-item{
        margin: 4px;
        padding: 4px;
        font-size: 1rem;
    }
    #caja-start a{
        font-size: 0.9rem;
        padding: 2px;
        margin: 1px;
    }
    #zona-perfil{
        font-size: 0.8rem;
    }
    #zona-datos-perfil h2{
        font-size: 1rem;
    }
    #sitio-id, #url-imagen-ir{
        font-size: 0.8rem;
        width: 90%;
    }
    .texto-gigante{
        font-size: 3rem;
        margin: 1px;
    }
    a.enlace-boton{
        font-size: 1rem !important;
    }
    #dcontrasegna1, #dcontrasegna2{
        width: 80%;
    }
    #salas-privadas>h1, #salas-publicas>h1, #nombre-sala{
        font-size: 1rem;
    }
    #fundador-sala{
        font-size: 0.9rem;
    }
}