/*.root{
    
}*/
html *{
    font-family:'Courier New', Courier, monospace;
}
#logo-principal{/*imagen del logo de la pagina principal*/
    height: 100%;
}
#logo-arriba{/*div para la imagen*/
    height: 400px;
    text-align: center;
    align-content: center;
}

@keyframes transicion-barra-item {/*transicion de los items de la barra*/
    from{
        background-color: #425c6d;
        color: white;
    }
    to{
        background-color: #7ea2b9;
        color: black;
    }
}
@keyframes animacion-barra{/*animacion de la barra al empezar*/
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}
#barra{/*barra de navegacion*/
    background-color: #6096ba;
    display: flex;
    position: sticky;
    left: 0;
    top: 0;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;

    animation-name: animacion-barra;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
.barra-item{/*items de la barra de navegacion*/
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    width: 25%;
    text-align: center;
    font-size: 1.5rem;
    background-color: #425c6d;

    color: white;
    transition-property: color background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.barra-item:hover:not(.barra-item-activado){/*pasando el raton por un item de la barra*/
    background-color: #7ea2b9;
    color: black;
}
.barra-item-activado{/*si estas en esa seccion cambia el item de la barra*/
    background-color: rgb(47, 207, 207);
    border: 1px solid black;
}

#footer{/*cuadro de abajo del todo*/
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
}
#footer>p{/*texto del footer*/
    font-size: 1.2rem;
    padding: 15px;
}